doctype html
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    link(rel="stylesheet" href="stylesheet.css")

  body
    div(class="container widthfull")
      ul(class="nav nav-tabs")
        li(class="active")
          a(data-toggle="tab" href="#lobby") Home
        li
          a(data-toggle="tab" href="#leaderboard") Leaderboard
        li
          a(data-toggle="tab" href="#rules") Rules
        li
          a(data-toggle="tab" href="#about") About

      div(class="tab-content paddingtop")
        div(class="tab-pane active" id="lobby")
          div(class="row")
            form(action="/lobby/createRoom?email=" + email + "&password="+ password method="post" class="col-sm-3")
              div(class="form-group row")
                label(class="col-sm-12 col-form-label formcenter formhead") Add New Game
              div(class="form-group row")
                label(class="col-sm-3 col-form-label") Score
                div(class="col-sm-9")
                  input(type="text" class="form-control" name="score")
              div(class="")
                div(class="col-sm-12")
                  button(class="buttonstyle" type="submit") + New

            div(class="col-sm-6")
              label(class="col-sm-12 col-form-label formhead") Join Game
              button(class="gameroom inlineblock") Game 1 
              button(class="gameroom inlineblock") Game 2
              button(class="gameroom inlineblock") Game 3 
              button(class="gameroom inlineblock") Game 4

        div(class="col-sm-5 tab-pane" id="leaderboard")
          table(class="table")
            thead
              tr
                th Rank 
                th Name 
                th Score 
            tbody
              tr
                td #{leadershipBoard[0].rank}
                td #{leadershipBoard[0].username}
                td #{leadershipBoard[0].score}
              tr
                td #{leadershipBoard[1].rank}
                td #{leadershipBoard[1].username}
                td #{leadershipBoard[1].score}
              tr
                td #{leadershipBoard[2].rank}
                td #{leadershipBoard[2].username}
                td #{leadershipBoard[2].score}
              tr
                td #{leadershipBoard[3].rank}
                td #{leadershipBoard[3].username}
                td #{leadershipBoard[3].score}
              tr
                td #{leadershipBoard[4].rank}
                td #{leadershipBoard[4].username}
                td #{leadershipBoard[4].score}
              tr
                td #{leadershipBoard[5].rank}
                td #{leadershipBoard[5].username}
                td #{leadershipBoard[5].score}
              tr
                td #{leadershipBoard[6].rank}
                td #{leadershipBoard[6].username}
                td #{leadershipBoard[6].score}
              tr
                td #{leadershipBoard[7].rank}
                td #{leadershipBoard[7].username}
                td #{leadershipBoard[7].score}
              tr
                td #{leadershipBoard[8].rank}
                td #{leadershipBoard[8].username}
                td #{leadershipBoard[8].score}
              tr
                td #{leadershipBoard[9].rank}
                td #{leadershipBoard[9].username}
                td #{leadershipBoard[9].score}
              tr
                td #{leadershipBoard[10].rank}
                td #{leadershipBoard[10].username}
                td #{leadershipBoard[10].score}
        div(class="tab-pane" id="rules")
          p game rules
        div(class="tab-pane" id="about")
          p about
